<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OnlyOneNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>disableAllNotifications</string>
			<key>label</key>
			<string>Block first as well</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>disableNoise</string>
			<key>label</key>
			<string>Disable sounds for notifications</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
                <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
                        <key>label</key>
                        <string>Developer information</string>
		</dict>
                <dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@mlnlover11 on Twitter</string>
		</dict>
                <dict>
			<key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@mlnlover11 on GitHub</string>
		</dict>
                <dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact developer via email</string>
		</dict>
                <dict>
			<key>action</key>
			<string>donatePaypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Paypal</string>
		</dict>
                <dict>
			<key>action</key>
			<string>donateBitcoin</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate via Bitcoin</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright (C) 2014 Elijah Frederickson</string>
		</dict>

	</array>
	<key>title</key>
	<string>OnlyOneNotification</string>
</dict>
</plist>
