<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OnlyOneNotification</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>blockFirstAsWell</string>
			<key>label</key>
			<string>Block first as well</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>disableNoise</string>
			<key>label</key>
			<string>Disable sounds for notifications</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>blockAfterFirstOfEachTitle</string>
			<key>label</key>
			<string>Block after first of each title</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict> 
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>disableWhenRinger</string>
			<key>label</key>
			<string>Disable OON when ringer is on</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict> 
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>onlyReEnableNoise</string>
			<key>label</key>
			<string>- only reenable noise</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict> 
                <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>key</key>
			<string>allowAfterAWhile</string>
			<key>label</key>
			<string>Allow after a while</string>
			<key>PostNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
		</dict> 
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Whitelisted Apps</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.lodc.ios.oonsettings.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>blacklisted-</string>
			<key>ALChangeNotification</key>
			<string>com.lodc.ios.oon/reloadSettings</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>Whitelisted apps</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>icon-size</key>
					<integer>29</integer>
					<key>footer-title</key>
					<string>These apps' notifications will be shown no matter what. Check clock for alarms to be heard.</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>Length of a while (minutes)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>180</integer>
			<key>default</key>
			<integer>90</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>timeToWait</string>
			<key>defaults</key>
			<string>com.lodc.ios.oonsettings</string>
			<key>PostNotification</key>
			<string>com.locd.ios.oon/reloadSettings</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
 		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>OONHelpListController</string>
			<key>label</key>
			<string>Help</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
            <key>label</key>
            <string>Developer information</string>
		</dict>
                <dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@daementor on Twitter</string>
		</dict>
                <dict>
			<key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@mlnlover11 on GitHub</string>
		</dict>
                <dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact developer via email</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright (C) 2014 Elijah Frederickson. Icon provided by Wojtek Witkowski.</string>
		</dict>

	</array>
	<key>title</key>
	<string>OnlyOneNotification</string>
</dict>
</plist>
